<script type="text/javascript" src="/js/broadcast.js"></script>
<script>var room = "<%=room%>";</script>
<div id="screen">
	<img id="screen_img" src="">
</div>

<div id="start"><button type="button" class="g-button" id="startbtn"><img id="indicator" src="/images/red.png">&nbsp;&nbsp;<span id="btntext">Start Broadcasting</span></button></div>

<video id="v" style="display: none;" autoplay width="160" height="120"></video>
<canvas id="c" width="320" height="240" style="display: none"></canvas>