<script type="text/javascript" src="/js/view.js"></script>
<script>var room = "<%=room%>";</script>
<div id="screen_img">
	<canvas id="c" width="320" height="240"></canvas>
	<img id="mjpg" width="320" height="240">
</div>
